@model IEnumerable<SikayetKayit.Models.Customer>


<hr />
<p>
    @if (Model != null)
    {
        @foreach (var i in Model)
        {
            <label class="label label-success">@i.Name</label>
        }

    }
    else
    {
        <a href="#" class="btn btn-primary">Müşteri Ekle</a>
    }
</p>

