
@{
    ViewBag.Title = "Deneme";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}



@using (Html.BeginForm("Captcha", "Home", FormMethod.Post))
{
    <!--Kendi Site keyinizle değiştirin.-->
    <div class="g-recaptcha" data-sitekey="siteKey"></div>
    <input type="submit" value="Post Et" />
    <br />
    @TempData["Message"]
}
